* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Segoe UI', sans-serif;
  background: radial-gradient(circle at top, #0a0a0a, #000);
  color: white;
}

section {
  padding: 100px 20px;
  max-width: 1200px;
  margin: auto;
}

h1, h2, h3 {
  letter-spacing: 0.5px;
}

a {
  text-decoration: none;
  color: inherit;
}